html,body,h1,h2,h3,h4,h5,
h6 {font-family: "Roboto", sans-serif}

.a1{
  max-width:1400px;
}
.a2{
  width:100%;
}
.a3{
  width:90%;
}
.a4{
  width:80%;
}
.a5{
  width:75%;
}
.a6{
  width:70%;
}
.a7{
  height:24px;width:85%;
  
}
.a8{
  height:24px;width:80%;
  
}
.a9{
height:24px;width:55%;
}
.font{
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}